html,
body {
    background-color: #21262f;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#searchBox {
    height: 40px;
    width: 400px;
    z-index: 3;
    position: absolute;
    left: 220px;
    top: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
}

#address_input {
    width: 320px;
    border: none;
    background: none;
    line-height: 35px;
    font-size: 17px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 6px;
    outline: none;
    z-index: 3;
}

#search_img {
    position: absolute;
    top: 8px;
    left: 355px;
    height: 28px;
    width: 28px;
    cursor: pointer;
    z-index: 3;
}

#map {
    width: 100%;
    height: 100%;
}

#floating-panel {
    width: 100%;
    font-family: "Roboto", "sans-serif";
}

.btu {
    height: 60px;
    width: 60px;
    border: 2px solid rgb(17, 126, 111);
    background-color: rgba(255, 255, 255, 0.82);
    border-radius: 30px;
    cursor: pointer;
    transition: .5s;
    z-index: 3;
    overflow: hidden;
    position: relative;
    display: flex;
}

.btu:hover {
    width: 300px;
}

#hide-markers:hover {
    width: 300px;
}

#toggle-heatmap:hover {
    width: 300px;
}

.btu_span {
    margin-left: 10px;
    margin-top: -8px;
    width: 250px;
    height: 60px;
    display: inline-block;
    font-size: 13px;
}

.btu_img {
    width: 38px;
    height: 38px;
}

#back {
    position: absolute;
    top: 90px;
    left: 10px;
}

#generate {
    position: absolute;
    top: 160px;
    left: 10px;
}

#gradient {
    position: absolute;
    top: 230px;
    left: 10px;
}

#random {
    position: absolute;
    top: 300px;
    left: 10px;
}

#menu {
    position: absolute;
    top: 160px;
    left: 10px;
}

#hide-markers {
    position: absolute;
    top: 370px;
    left: 10px;
}

#toggle-heatmap {
    position: absolute;
    top: 440px;
    left: 10px;
}

#circle-heatmap {
    position: absolute;
    top: 510px;
    left: 10px;
}

#outputImage {
    position: absolute;
    top: 380px;
    left: 100px;
    width: 30%;
    height: 38%;
    z-index: 2;
}

#delete-button {
    display: none;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 402px;
    left: 108px;
    z-index: 3;
    cursor: pointer;
}

#outputImage:not([src]) {
    opacity: 0;
    border: none;
    visibility: hidden;
    max-width: none
}

#heat {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    display: none;
}

#chartContainer {
    width: 70%;
    margin: 20px auto;
}

.property {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    height: 80px;
    padding: 8px 15px;
    width: auto;
}

.property::after {
    border-top: 9px solid #FFFFFF;
}

.property .details {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.property .address {
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.property .features {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.property .features>div {
    align-items: center;
    background: #F5F5F5;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    font-size: 10px;
    gap: 5px;
    padding: 5px;
    margin-left: 20px;
}

.icon {
    width: 30px;
    height: 30px;
}