*{
  margin: 0;
	padding: 0;
}

@font-face {
  font-family: 'textFont';
  src: url('bahnschrift-webfont.woff2') format('woff2'),
       url('bahnschrift-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

p,a{
	font-family: textFont;
}